/* @import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:wght@500;800;900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;600;800&display=swap'); */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap"); */

/* Variables */
:root {
  --font-family: "Montserrat", sans-serif;
  --normal-font: 400;
  --bold-font: 600;
  --bolder-font: 800;
  --bg-color: #fcfcfc;
  --primary-color: rgb(242, 233, 233);
  --secondary-color:black;
  --primary-shadow: #adb2e8;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  text-decoration: none;
  color: var(--primary-color);
}

body {
  font-family: var(--font-family);
}

nav {
    position: sticky;
    top: 30px;
    left: 0;
    z-index: 1;
    display: flex;
    width: 1500px;
    align-items: center;
    justify-content: space-between;
    padding: 3px 10%;
    background-color:rgba(0, 0, 0, 0);
    /* box-shadow: 0px 3px 5px rgba(155, 12, 12, 0.1); */
    /* box-shadow: 0px 2px 3px 2px rgba(131, 123, 123, 0.3); */
  }

  .logolink{
    transition: none !important;
    border-bottom: none !important;
  }

  .logo {
    width: 125px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
    transition: transform .4s;
  }

  .logo:hover{
    transform:scale(1.3);
  }

  nav a {
    color: var(--primary-color);
    transition: var(--transition);
  }
  nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--primary-color);
  }
  
  nav ul {
    display: flex;
    gap: 1.9rem;
  }
  
  nav ul li{
    list-style-type: none;
    display: inline-block;
    transition: 0.7s all;
    font-weight: var(--bold-font);
    font-size: large;
    padding : 1rem 1rem;
  }
  nav ul li:hover{
    background-color:#7A89B8;
  }

  button{
    font-family:  var(--font-family);
    font-weight: var(--bold-font);
    font-size: medium;
    padding: 9px 20px;
    cursor: pointer;
    border:none;
    transition: 0.5s all;
    border-radius: 50px;
    background-color: #8f4c95;
    margin-top: 10px;
  }

  .cta:hover{
    background-color: #7A89B8;
  }

  .ctabutton:hover{
    transition: none;
    border-bottom: none !important;
  }

  .burger-menu {
    color: var(--Secondary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }

#main {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ),url(greylaptop.jpg);
    background-size: cover;
    background-position: center;
    padding: 0%;
    margin: 0%;
    position:flex;
}  

.hero {
    /* display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url(greylaptop.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position:relative;
    top: 0; */
    gap: 2.5rem; 
     max-width: 68.75rem;  
    /* background-image: url(greylaptop.jpg); */
    
  }

  .bio {
    position: absolute;
    top: 32%;
    left:20%;
    width: 50rem;
    padding: 0.625rem;
    border-radius: 6px;
    /* box-shadow: 0px 2px 15px 2px var(--primary-shadow); */
    color : var(--primary-color);
    font-weight: var(--bold-font);
    font-size: x-large;
  }

  .flicker{
  color: rgba(255, 254, 254, 0.38);    
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(#fff), color-stop(0.8,#fff)) no-repeat; 
  /* background: gradient(linear, left top, right top, from(#8f4c95), to(#8f4c95), color-stop(0.8, #8f4c95)) no-repeat; */
  background-size: 15px 100%;
  -webkit-background-clip: text; 
   background-clip: text; 
  animation: flick 5s infinite;
  }

  @keyframes flick {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
  
  .more-about{
    /* background-color: #424446; */
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),url(darkgreybg.png);
    display: flex;
    position: absolute;
    padding: 30px 130px;
    align-items: center;
    justify-items: center;
    font-family: var(--bold-font);
    color: var(--primary-color);
  }

  .about{
    padding: 30px 90px;
    /* border: #8f4c95 double 3px ;
    border-radius: 7px; */
  }

  .about-title{
    display: flex;
    border-bottom: #8f4c95 solid 1px; 
  }

  .about h1 {
    text-align: center;
    font-size: xx-large;
  } 

  .about h2{
    text-align: center;
  } 

  .about-text {
    align-items: center;
    justify-items: center;
    font-size: large;
    padding: 30px 10px;
  }

  /* .intro h4 {
    display: inline-block !important;
  } */

  .intro h1{
    display: inline-block !important;
    font-size: 5rem;
  }

  .iam{
    color:#8f4c95 !important;
  }

  .skills {
    background-color: #161616;
    /* position: relative; */
    /* max-width: 68.75rem; */
    margin: auto;   
    padding: auto;  
    text-align: center;
    margin-top: 264px;   
    font-family: var(--bold-font);
    color: var(--primary-color);
  }
  
  .skill-header {
    padding: 3%;
    /* margin-bottom: 1rem;  */
    font-size: xx-large;
  }
  
  .skills-wrapper img {
    padding: 1.25rem;
  }
  
  .icon {
    width: 11.875rem;
    height: 11.25rem;
  }

  .icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
  }
